#ftp://ftp.iinet.net.au/linux/linuxmint/debian/
menuentry "linuxmint-201303-mate-dvd-64bit.iso" {
	set drive_label=multipass01
	set iso_path="/iso/linuxmint-201303-mate-dvd-64bit.iso"
	loopback loop $iso_path
	linux (loop)/casper/vmlinuz fromiso=/dev/disk/by-label/$drive_label$iso_path findiso=$isofile \
		boot=live live-config live-media-path=/casper relatime nosplash noeject ip=frommedia –
	initrd (loop)/casper/initrd.lz
}

